<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/listings">Explore</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2 search-input" type="text" placeholder="Search your destination">
        <button class="btn search-btn" type="button"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </li>
        <% if(!currUser){ %>
        <li class="nav-item">
          <a class="nav-link active" href="/signup"><b>Sign up</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Log in</b></a>
        </li>
        <% } %>
        <% if(currUser){ %>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
