<% layout('/layouts/boilerplate') %>
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <h1 class="text-center  py-3 signup-title">Signup Page</h1>
      <form method="post" action="/signup" novalidate class="needs-validation bg-light p-4 rounded shadow">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            placeholder="enter username"
            id="username"
            type="text"
            name="username"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid username</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            placeholder="enter email"
            id="email"
            type="email"
            name="email"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid email</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            placeholder="enter password"
            id="password"
            type="password"
            name="password"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid password</div>
        </div>
        <button class="btn btn-success w-100">Sign Up</button>
      </form>
    </div>
  </div>
</div>
